<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITableView_HIEP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFA76E001EA74FD6009B03B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA76E171EA74FD6009B03B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA76E221EA74FD6009B03B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
